{% extends "users/kyc/base_form.html" %}
{% load static %}
{% block content %}
    <section class="contentBar">
        <div class="navbar"><i onclick="sideCollapse()" class="collapseBar fas fa-bars"></i><i onclick="sideShow()"
                                                                                               class="showBar fas fa-bars"></i>
            <p>Address Details</p>
        </div>
        <div class="mainContent">
            <form action="{% url 'users:address_info' %}" method="POST">
                {% csrf_token %}
                <div class="personalDetail-name formset-row">
                    <div class="maritalStatus">
                        <h4>Country</h4>
                        {{ address_form.country }}
                    </div>
                    <div class="maritalStatus">
                        <h4>Province</h4>
                        {{ address_form.province }}
                    </div>
                    <div class="maritalStatus">
                        <h4>District</h4>
                        {{ address_form.district }}
                    </div>
                    <div class="maritalStatus">
                        <h4>Local Body</h4>
                        {{ address_form.local_body }}
                    </div>
                    <div class="personalDetail-fname">
                        <h4>Ward Number</h4>
                        {{ address_form.ward_no }}
                    </div>
                    <div class="personalDetail-fname">
                        <h4>Tole</h4>
                        {{ address_form.tole }}
                    </div>
                    <div class="personalDetail-fname">
                        <h4>House Number</h4>
                        {{ address_form.house_no }}
                    </div>
                    <div class="personalDetail-fname">
                        <h4>Email</h4>
                        {{ user_form.email }}
                    </div>
                    <div class="personalDetail-fname">
                        <h4>Mobile Number</h4>
                        {{ address_form.mobile_no }}
                    </div>
                </div>


                <div class="navbar1">Full Mailing Address</div>
                <div class="personalDetail-name formset-row">
                    <div class="personalDetail-fname">
                        <h4>Address</h4>
                        {{ address_form.address }}
                    </div>
                </div>
                <div class="formSubmitBtn">
                    <a href="{% url 'users:education_info' %}"><input type="button" value="Skip" class="formButtonSkip"></a>
                    <input type="submit" value="Save" class="formButtonSave">
                </div>
            </form>
        </div>
    </section>
    <script>
        document.querySelector('#sidebar2').classList.add('activeSideBar');
    </script>
{% endblock %}