{% extends "users/kyc/base_form.html" %}
{% load static %}
{% block content %}
    <section class="contentBar">
        <div class="navbar"><i onclick="sideCollapse()" class="collapseBar fas fa-bars"></i><i onclick="sideShow()"
                                                                                               class="showBar fas fa-bars"></i>
            <p>Education Details</p>
        </div>
        <div class="mainContent">
            <form id="form-container" class="form-delete" action="{% url 'users:education_info' %}" method="POST">
                {% csrf_token %}
                <div id='empty-form' class='hidden-form'>
                    <div class="personalDetail-name">
                        <div class="maritalStatus">
                            <h4>Degree</h4>
                            {{ formset.empty_form.edu_level }}
                        </div>
                        <div class="personalDetail-fname">
                            <h4>Education Program</h4>
                            {{ formset.empty_form.faculty }}
                        </div>
                        <div class="maritalStatus">
                            <h4>Education Board</h4>
                            {{ formset.empty_form.university }}
                        </div>
                        <div class="personalDetail-fname">
                            <h4>Institute Name</h4>
                            {{ formset.empty_form.institution_name }}
                        </div>
                        <div class="marksSecured">
                            <h4>Marks Secured</h4>
                            <div class="doubleInput">
                                {{ formset.empty_form.per_gpa_type }}
                                {{ formset.empty_form.per_gpa_value }}
                            </div>
                        </div>
                        <div class="marksSecured">
                            <h4>Graduation year</h4>
                            <div class="doubleInput">
                                {{ formset.empty_form.passed_month }}
                                {{ formset.empty_form.passed_year }}
                            </div>
                        </div>
                        <div class="personalDetail-fname dltBtnWrap" >
                            <button type="button" name="del_btn{{ formset.empty_form.instance.id }}" value="Delete"
                                    class="delete-image-form dltBtnAction">Delete
                            </button>
                        </div>
                    </div>
                </div>

                {{ formset.management_form }}
                {% for form in formset %}
                    <div class='formset-row'>
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}

                        <div class="personalDetail-name">
                            <div class="maritalStatus">
                                <h4>Degree</h4>
                                {{ form.edu_level }}
                            </div>

                            <div class="personalDetail-fname">
                                <h4>Education Program</h4>
                                {{ form.faculty }}
                            </div>
                            <div class="maritalStatus">
                                <h4>Education Board</h4>
                                {{ form.university }}
                            </div>
                            <div class="personalDetail-fname">
                                <h4>Institute Name</h4>
                                {{ form.institution_name }}
                            </div>
                            <div class="marksSecured">
                                <h4>Marks Secured</h4>
                                <div class="doubleInput">
                                    {{ form.per_gpa_type }}
                                    {{ form.per_gpa_value }}
                                </div>
                            </div>
                            <div class="marksSecured">
                                <h4>Graduation year</h4>
                                <div class="doubleInput">
                                    {{ form.passed_month }}
                                    {{ form.passed_year }}
                                </div>
                            </div>
                            <div class="personalDetail-fname dltBtnWrap">
                                <button type="button" hx-post="{% url 'users:delete-single-form' 'education_info' form.instance.id %}"
                                        class="delete-image-form is-get dltBtnAction" name="del_btn{{ form.instance.id }}"
                                        value="Delete">
                                    Delete
                                </button>
                            </div>
                        </div>
                    </div>
                {% endfor %}


                <div id="add-form" class="addSection">
                    + Add More Education Details
                </div>

                <div class="formSubmitBtn">
                    <a href="{% url 'users:training_info' %}"><input type="button" value="Skip" class="formButtonSkip"></a>
                    <input type="submit" value="Save" class="formButtonSave">
                </div>
            </form>
        </div>
    </section>

    <script>
        prefix = 'educationdetails_set'
        const totalNewForms = document.getElementById("id_educationdetails_set-TOTAL_FORMS")
        const initialForms = document.getElementById("id_educationdetails_set-INITIAL_FORMS")
        document.querySelector('#sidebar3').classList.add('activeSideBar');
    </script>

{% endblock %}