{% extends "users/kyc/base_form.html" %}
{% load static %}
{% block content %}
    <section class="contentBar">
        <div class="navbar"><i onclick="sideCollapse()" class="collapseBar fas fa-bars"></i><i onclick="sideShow()"
                                                                                               class="showBar fas fa-bars"></i>
            <p>Social Account</p>
        </div>
        <div class="mainContent">
            <form id="form-container" action="{% url 'users:social_info' %}" method="POST">
                {% csrf_token %}
                <div id='empty-form' class='hidden-form'>
                    <div class="personalDetail-name">
                        <div class="personalDetail-fname">
                            <h4>Account Name</h4>
                            {{ formset.empty_form.social_media }}
                        </div>
                        <div class="media-url">
                            <h4>URL</h4>
                            {{ formset.empty_form.link }}
                        </div>
                        <div class="personalDetail-fname dltBtnWrap">
                            <button type="button" name="del_btn{{ formset.empty_form.instance.id }}" value="Delete"
                                    class="delete-image-form dltBtnAction">Delete
                            </button>
                        </div>
                    </div>
                </div>
                {{ formset.management_form }}
                {% for form in formset %}
                    <div class="formset-row">
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        <div class="personalDetail-name">
                            <div class="personalDetail-fname">
                                <h4>Account Name</h4>
                                {{ form.social_media }}
                            </div>
                            <div class="media-url">
                                <h4>URL</h4>
                                {{ form.link }}
                            </div>
                            <div class="personalDetail-fname dltBtnWrap">
                                <button type="button"
                                        hx-post="{% url 'users:delete-single-form' 'social_info' form.instance.id %}"
                                        name="del_btn{{ formset.empty_form.instance.id }}" value="Delete"
                                        class="delete-image-form is-get dltBtnAction">Delete
                                </button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div id="add-form" class="addSection">
                    + Add More Social Medias
                </div>
                <div class="formSubmitBtn">
                    <input type="button" value="Skip" class="formButtonSkip">
                    <input type="submit" value="Save" class="formButtonSave">
                </div>
            </form>
        </div>
    </section>

    <script>
        prefix = 'socialmedias_set'
        const totalNewForms = document.getElementById("id_socialmedias_set-TOTAL_FORMS")
        const initialForms = document.getElementById("id_socialmedias_set-INITIAL_FORMS")
        document.querySelector('#sidebar6').classList.add('activeSideBar');
    </script>

{% endblock %}