{% load static %}
{% load user_roles_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Role List</title>
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
</head>
<body>
<div>
    <div>
        <div>
            <div>
                <div>
                    <div>
                        <h4>h4 tag</h4>
                        {% user_can_add request 'roles_setup' as create %}
                        {% if create %}
                            <p><a href="{% url 'roles:role_create' %}">Add Role</a></p>
                        {% endif %}
                    </div>
                    <div>
                        <div>
                            {% if messages %}
                                <ul>
                                    {% for message in messages %}
                                        <p {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                                            {{ message }}
                                        </p>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            <table id="example" class="display" style="min-width: 845px">
                                <thead>
                                <tr>
                                    <th>S.N.</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Total Users</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for role in roles %}
                                    <tr>
                                        <td class="cell-num">{{ forloop.counter }}</td>
                                        <td>{{ role.name }}</td>
                                        <td>{{ role.desc }}</td>
                                        <td>{{ role.total_users }}</td>

                                        <td><a class="btn btn-sm btn-success"
                                               href="{% url 'roles:role_setup' role.id %}">Permission Setup</a>
                                            <a href="{% url 'roles:role_update' role.id %}" title="Edit">Update</a>

                                            <div class="detailForwardBtn"
                                                 onclick="forwardVehicleDetail()">
                                                <h1>Delete</h1>
                                            </div>
                                        </td>

                                        <div class="vehicleDetailModal" id="vehicleDetailModal">
                                            <div class="vehicleDetailModalMain">
                                                <form action="#" method="POST">
                                                    <div class="vehicleDetailModalIcon"><i
                                                            class="fas fa-check-circle"></i></div>
                                                    <div class="vehicleDetailModalConfirmTitle">Delete this role</div>
                                                    <div class="vehicleDetailModalBtns">
                                                        <div class="vehicleDetailModalConfirm"
                                                             id="vehicleDetailModalConfirm">
                                                            <a>Confirm</a>
                                                        </div>
                                                        <div class="vehicleDetailModalCancle">
                                                            <a onclick="backwardVehicleDetail()">Cancel</a>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>

                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function forwardVehicleDetail(href) {
        console.log("div clicked")
        document.getElementById("vehicleDetailModal").style.display = "flex"
        document.getElementById("vehicleDetailModalConfirm").children[0].href = href
    }

    function backwardVehicleDetail() {
        document.getElementById("vehicleDetailModal").style.display = "none"
    }
</script>
</body>
</html>
