{% extends 'users/base_bootstrap.html' %}
{% load user_roles_tags %}
{% block content %}

    <div class="content-body">
        <div class="container-fluid">
            <div class="row page-titles mx-0">
                <div class="col-sm-6 p-md-0">
                    <div class="welcome-text">
                        <h4>Role List</h4>
                        {% comment %} <span class="ml-1"></span> {% endcomment %}
                    </div>
                </div>
                <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'pentest:home' %}">Home</a></li>
                        <li class="breadcrumb-item active"><a href="{% url 'roles:list_role' %}">Role setup</a></li>
                    </ol>
                </div>
            </div>
            <!-- row -->


            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title"></h4>
                            {% user_can_add request 'roles_setup' as create %}
                            {# 'roles_setup' is the menu_code of `Roles Setup` menu #}
                            {% if create %}
                                <p><a class="btn btn-secondary"
                                      href="{% url 'roles:role_create' %}"><span class="ic-add"></span>Add Role</a></p>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <div class="table-responsive table-striped" style="color:rgb(104, 104, 104);">
                                {% if messages %}
                                    <ul class="messages">
                                        {% for message in messages %}
                                            <p class="bg-success" {% if message.tags %}
                                               class="{{ message.tags }}" {% endif %}>
                                                {{ message }}
                                            </p>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                <table id="example" class="display" style="min-width: 845px">
                                    <thead>
                                    <tr>
                                        <th>S.N.</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Total Users</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for role in roles %}
                                        <tr>
                                            <td class="cell-num">{{ forloop.counter }}</td>
                                            <td>{{ role.name }}</td>
                                            <td>{{ role.desc }}</td>
                                            <td>{{ role.total_users }}</td>

                                            <td><a class="btn btn-sm btn-success"
                                                   href="{% url 'roles:role_setup' role.id %}">Permission
                                                Setup</a>
                                                <a class="btn btn-info" href="{% url 'roles:role_update' role.id %}"
                                                   title="Edit">Update</a>
                                                <a class="btn btn-sm btn-danger role-delete" data-bs-toggle="modal"
                                                   data-bs-target="#deleteModal" href=""
                                                   url="{% url 'roles:role_delete' role.id %}"
                                                >Delete</a>
                                            </td>

                                        </tr>
                                    {% endfor %}
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal mymodal modal-01" id="deleteModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header align-items-center">
                                <h5 class="modal-title">Delete Role</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" class="ic-close-circular-filled text-danger h5"></span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="" method="POST" class="delete-form">
                                    {% csrf_token %}
                                    <label class="d-block">Confirm Delete</label>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-light" data-dismiss="modal">
                                            Cancel
                                        </button>
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
<script>
    $(".role-delete").on("click", function () {
        console.log('delete button clicked')
        let url = $(this).attr("url")
        $(".delete-form").attr("action", url)
    })
</script>
{% endblock extra_js %}