@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
:root {
  --clr-secondary-text: #5b5858;
  --clr-primary-text: #000000;
  --clr-primary: #623ce7;
}
p {
  font-size: 14px !important;
}
img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
section > div > * {
  transition: all 0.5s ease-in-out;
}
section > div > .active {
  width: 30vh;
}
.sidebar {
  padding: 2rem;
  position: sticky;
  top: 0px;
  height: 100vh;
  background: #ffffff;
  box-shadow: 3px 8px 8px rgba(0, 0, 0, 0.05);
  width: 15vh;
}

.maincontent {
  width: calc(100vw - 55vh);
  padding: 2rem 50px;
}
.sidebar .logo {
  margin-bottom: 5rem;
}

.sidebar .Sidebarlinks {
  margin-bottom: auto;
}
.sidebar .add {
  width: 60px;
  height: 60px;
}
.sidebar .Sidebarlinks a p {
  display: none;
}
.sidebar .Sidebarlinks .active a p {
  display: block;
}
.sidebar .Sidebarlinks a {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--clr-secondary-text);
  text-decoration: none;
}
.sidebar .add .addbtn {
  background: var(--clr-primary);
  height: 100%;
  width: 100%;
  box-shadow: 0px 12px 24px rgba(98, 60, 231, 0.5);
  color: white;
  border-radius: 0px 14px 14px 14px;
  font-size: 24px;
}
.sidebar .Sidebarlinks .link {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.sidebar .Sidebarlinks a.active {
  color: #623ce7 !important;
}
.sidebar .Sidebarlinks .link .icon {
  color: var(--clr-secondary-text);
}
.sidebar .Sidebarlinks .link .icon svg {
  height: 26px;
  width: 26px;
}
.sidebar .Sidebarlinks a:hover {
  color: #623ce7 !important;
}
.rightcontent {
  position: sticky;
  top: 0px;
  height: 100vh;
  background: #ffffff;
  box-shadow: -3px 0px 8px rgba(0, 0, 0, 0.05);
  width: 40vh;
}

.maincontent .createTask button {
  padding: 10px 20px;
  font-size: 16px;
  background: #ffffff;
  box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}

.maincontent .options {
  gap: 40px;
}

.maincontent .options .security,
.maincontent .options .setting {
  gap: 5px;
}

.maincontent .maincontentheader {
  margin-bottom: 4rem;
}

.maincontent .maincontentbody .card {
  width: 100%;
  height: 100%;
  background: #ffffff;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.05),
    4px 36px 46px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  border: none;
}

.maincontent .maincontentbody .card .progressbar {
  height: 4px;
  background: #dddddd;
  border-radius: 20px;
  overflow: hidden;
  width: 30px;
}
.maincontent .maincontentbody .card .progressbar .progressStatus {
  background-color: #6cd032;
  height: 100%;
}
.maincontent .maincontentbody .cards {
  margin-bottom: 5rem;
}

.maincontent .maincontentbody .card .menu {
  font-size: 16px;
  letter-spacing: 1px;
}
.maincontent .maincontentbody .cardbody {
  gap: 20px;
  margin-bottom: 20px;
}
.maincontent .maincontentbody .cardbody .bodyheader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;

  background: #ececec;
  border-radius: 50%;
}
.maincontent .maincontentbody .cardbody .bodyheader h1 {
  font-size: 30px;
  color: #a1a1a1;
}

.maincontent .maincontentbody .cardbody h4 {
  font-size: 14px;
}
.maincontent .maincontentbody .cardbody h1 {
  font-size: 30px;
  font-weight: 600;
}
.maincontent .maincontentbody .cardfooter {
  padding-bottom: 20px;
}
.imagesection {
  display: flex;
  justify-content: center;
  width: 7rem;
  height: 29px;
  position: relative;
}
.imagesection .image {
  overflow: hidden;
  position: absolute;
  background-color: #ececec;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.imagesection .image:first-child {
  background-color: blue;
  left: 0;
}
.imagesection .image:nth-child(2) {
  left: 20px;
}
.imagesection .image:nth-child(3) {
  left: 40px;
}
.imagesection .image:nth-child(4) {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #9a9a9a;
  left: 60px;
}
.imagesection .image:nth-child(4) p {
  font-size: 10px;
  font-weight: 600;
}

.nav-tabs {
  border-bottom: 3px solid #f2f2f2;
}
.maincontent .maincontentbody .content h1 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 3rem;
}
.taskheader .nav-tabs .nav-item {
  width: 25%;
}
.taskheader .nav-tabs .nav-item.show .nav-link,
.taskheader .nav-tabs .nav-link {
  color: #a7a7a7;
}
.taskheader .nav-tabs .nav-link:focus,
.taskheader .nav-tabs .nav-link:hover {
  color: #623ce7;
  border-color: transparent;
}
.taskheader .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
  width: 100%;
  padding: 40px 0rem;
}
.taskheader .nav-tabs .nav-item.show .nav-link,
.taskheader .nav-tabs .nav-link.active {
  border-color: transparent;
  color: var(--clr-primary);
  border-bottom: 3px solid var(--clr-primary);
}
.taskheader .nav-tabs .nav-item.show .nav-link,
.taskheader .nav-tabs .nav-link {
  background: transparent;
}

.taskheader .nav-tabs .nav-item.show .nav-link,
.taskheader .nav-tabs .nav-link .counter {
  padding: 4px 8px;
  background: #ece7fe;
  color: #623ce7;
  font-size: 12px;
  border-radius: 4px;
}

.content .progress {
  width: 80px;
  height: 80px;
  background: none;
  position: relative;
}

.content .progress::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 6px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
}

.content .progress > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.content .progress .progress-left {
  left: 0;
}

.content .progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 6px;
  border-style: solid;
  position: absolute;
  top: 0;
}

.content .progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.content .progress .progress-right {
  right: 0;
}

.content .progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}

.content .border-primary {
  border-color: var(--clr-primary) !important;
}
.content .border-secondary {
  border-color: coral !important;
}
.content .progress .progress-value {
  position: absolute;
  top: 0;
  left: 0;
}

.taskheader .nav-tabs .nav-item.show .nav-link,
.taskheader .nav-tabs .nav-link p {
  font-size: 16px;
  font-weight: 500;
}

.taskheader .tab-pane .tasks {
  padding: 2rem 0;
}

.taskheader .tab-pane .tasks input[type="checkbox"] {
  position: relative;
  cursor: pointer;
}
.taskheader .tab-pane .tasks input[type="checkbox"]:before {
  content: "";
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  top: 0;
  left: 0;
  background-color: #e9e9e9;
}
.taskheader .tab-pane .tasks input[type="checkbox"]:checked:before {
  content: "";
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  top: 0;
  left: 0;
  background: #7655ea;
  box-shadow: 0px 7px 12px rgba(118, 85, 234, 0.3);
}
.taskheader .tab-pane .tasks input[type="checkbox"]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 5px;
  left: 10px;
}
.taskheader .tab-pane .tasks .task p {
  font-size: 14px;
  font-weight: 300;
}
.taskheader .tab-pane .tasks button {
  padding: 8px 24px;
  font-size: 14px;

  border-radius: 240px;
}
.taskheader .tab-pane .tasks button.Approved {
  background-color: #ece7fe;
  color: #623ce7;
}

.taskheader .tab-pane .tasks button.inProgress {
  background-color: #e1faf4;
  color: #47c7ab;
}

.content .weeksummary .cards .card {
  height: 10rem;
}

.content .weeksummary .cards .card h5 {
  font-size: 16px;
  color: #a7a7a7;
}

.content .weeksummary .cards .card p {
  font-size: 20px;
  color: #000000;
  font-weight: 500;
}

.rightcontent {
  padding: 2rem;
}

.rightcontent .profile .leftcontainer .image {
  height: 69px;
  width: 69px;
  border-radius: 50%;
  overflow: hidden;
}
.rightcontent .profile .leftcontainer .image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.rightcontent .profile {
  margin-bottom: 4rem;
}

.rightcontent .profile .rightcontainer {
  width: 100%;
}
.rightcontent .profile .rightcontainer .nameDescription h4 {
  font-size: 18px;
  font-weight: 500;
}
.rightcontent .profile .rightcontainer .nameDescription p {
  font-size: 13px;
  color: #a1a1a1;
}
.rightcontent .profile .rightcontainer .icons {
  font-size: 20px;
  color: #5b5b5b;
}
.rightcontent .overview {
  margin-bottom: 3rem;
}
.rightcontent .overview h4 {
  font-size: 16px;
  color: #5b5858;
  font-weight: 400;
  margin-bottom: 14px;
}

.rightcontent .overview .container {
  padding: 27px 0;
  background: #e8fbff;
  border-radius: 6px;
}
.rightcontent .overview .Project {
  background: #ece8ff;
}
.rightcontent .overview .container h4 {
  font-size: 35px;
  font-weight: 700;
}
.rightcontent .progressStatus {
  margin-bottom: 3rem;
}
.rightcontent .progressStatus .progresses h4 {
  font-size: 16px;
}
.rightcontent .progressStatus .progresses p {
  font-size: 12px;
  font-weight: 500;
}
.rightcontent .progressStatus .progressHeader {
  margin-bottom: 20px;
}
.rightcontent .progressStatus .progresses .progressContainer {
  background-color: #efefef;
  height: 5px;
  border-radius: 12px;
  overflow: hidden;
}
.rightcontent .progressStatus .progresses .progressContainer .progressBar {
  background-color: #52459d;
  height: 100%;
}

.rightcontent .vulnerabilities h4 {
  font-size: 16px;
  color: #5b5b5b;
  font-weight: 400;
  margin-bottom: 10px;
}
.rightcontent .vulnerabilities p {
  font-size: 14px;
  margin-bottom: 10px;
}
.rightcontent .vulnerabilities p span {
  color: var(--clr-primary);
  font-weight: 600;
}
.chart {
  display: none;
}

@media all and (max-width: 1366px) {
  p {
    font-size: 12px !important;
  }
  .Approved,
  .inProgress {
    font-size: 12px !important;
  }
}