@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
:root {
  --clr-secondary-text: #5b5858;
  --clr-primary-text: #000000;
  --clr-primary: #336cfb;
}
p {
  font-size: 14px !important;
}
img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.card {
  border: none;
}
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
section > div > * {
  transition: all 0.5s ease-in-out;
}
section > div > .active {
  width: 30vh;
}
.sidebar {
  padding: 2rem;
  position: sticky;
  top: 0px;
  height: 100vh;
  background: #ffffff;
  box-shadow: 3px 8px 8px rgba(0, 0, 0, 0.05);
  width: 15vh;
}

.maincontent {
  width: calc(100vw - 55vh);
}
.sidebar .logo {
  margin-bottom: 5rem;
}

.sidebar .Sidebarlinks {
  margin-bottom: auto;
}
.sidebar .add {
  width: 60px;
  height: 60px;
}
.sidebar .Sidebarlinks a p {
  display: none;
}
.sidebar .Sidebarlinks .active a p {
  display: block;
}
.sidebar .Sidebarlinks a {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--clr-secondary-text);
  text-decoration: none;
}
.sidebar .add .addbtn {
  background: var(--clr-primary);
  height: 100%;
  width: 100%;
  box-shadow: 0px 12px 24px rgba(98, 60, 231, 0.5);
  color: white;
  border-radius: 0px 14px 14px 14px;
  font-size: 24px;
}
.sidebar .Sidebarlinks .link {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.sidebar .Sidebarlinks a.active {
  color: #336cfb !important;
}
.sidebar .Sidebarlinks .link .icon {
  color: var(--clr-secondary-text);
}
.sidebar .Sidebarlinks .link .icon svg {
  height: 26px;
  width: 26px;
}
.sidebar .Sidebarlinks a:hover {
  color: #336cfb !important;
}
.rightcontent {
  position: sticky;
  top: 0px;
  height: 100vh;
  background: #ffffff;
  box-shadow: -3px 0px 8px rgba(0, 0, 0, 0.05);
  width: 40vh;
}

.rightcontent .rightbody {
  padding: 0 2rem;
}
.profile {
  position: sticky;
  top: 0;
  z-index: 9999;
  background: white;
}
.profile .leftcontainer .image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.profile .leftcontainer .image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.profile {
  padding: 2rem;
  margin-bottom: 2rem;
}
.profile .rightcontainer {
  width: 100%;
}
.profile .rightcontainer .nameDescription h4 {
  font-size: 16px;
  font-weight: 500;
}
.profile .rightcontainer .nameDescription p {
  font-size: 13px;
  color: #a1a1a1;
}

.profile .rightcontainer .icons {
  font-size: 18px;
  color: #5b5b5b;
}

.maincontent .options {
  gap: 40px;
}

.maincontent .options .security,
.maincontent .options .setting {
  gap: 5px;
}

.maincontent .maincontentheader {
  position: sticky;
  z-index: 99999;
  top: 0;
  background-color: white;

  padding: 2rem 50px;
}

.maincontent .maincontentbody {
  padding: 0 50px;
}

.btn {
  font-weight: 500;
}
.primarybtn:hover {
  color: white;
}
.secondarybtn {
  color: #336cfb;

  border: 1.5px solid #336cfb;
  box-sizing: border-box;
  border-radius: 0px 14px 14px 14px;
  box-shadow: 0px 12px 24px rgba(98, 60, 231, 0.15);
  padding: 10px 20px;
}
.primarybtn {
  color: white;
  background: #336cfb;
  box-shadow: 0px 12px 24px rgba(98, 60, 231, 0.15);
  border-radius: 0px 14px 14px 14px;
  padding: 10px 20px;
}
.dangerbtn {
  color: white;
  background: #fb3333;
  box-shadow: 0px 12px 24px rgba(98, 60, 231, 0.15);
  border-radius: 0px 14px 14px 14px;
  padding: 10px 20px;
}

/* Main Dashboard starts */

.homepage .maincontent .maincontentheader {
  margin-bottom: 4rem;
}

.homepage .maincontent .createTask button {
  padding: 10px 20px;
  font-size: 16px;
  background: #ffffff;
  box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}
.homepage .maincontent .maincontentbody .card {
  width: 100%;
  height: 100%;
  background: #ffffff;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.05),
    4px 36px 46px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  border: none;
}

.homepage .maincontent .maincontentbody .card .progressbar {
  height: 4px;
  background: #dddddd;
  border-radius: 20px;
  overflow: hidden;
  width: 30px;
}
.homepage .maincontent .maincontentbody .card .progressbar .progressStatus {
  background-color: #6cd032;
  height: 100%;
}
.homepage .maincontent .maincontentbody .cards {
  margin-bottom: 5rem;
}
.homepage .maincontent .maincontentbody .card .menu {
  font-size: 16px;
  letter-spacing: 1px;
}
.homepage .maincontent .maincontentbody .cardbody {
  gap: 20px;
  margin-bottom: 20px;
}
.homepage .maincontent .maincontentbody .cardbody .bodyheader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;

  background: #ececec;
  border-radius: 50%;
}
.homepage .maincontent .maincontentbody .cardbody .bodyheader h1 {
  font-size: 30px;
  color: #a1a1a1;
}

.homepage .maincontent .maincontentbody .cardbody h4 {
  font-size: 14px;
}
.homepage .maincontent .maincontentbody .cardbody h1 {
  font-size: 30px;
  font-weight: 600;
}
.homepage .maincontent .maincontentbody .cardfooter {
  padding-bottom: 20px;
}
.homepage .imagesection {
  display: flex;
  justify-content: center;
  width: 7rem;
  height: 29px;
  position: relative;
}
.homepage .imagesection .image {
  overflow: hidden;
  position: absolute;
  background-color: #ececec;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.homepage .imagesection .image:first-child {
  background-color: blue;
  left: 0;
}
.homepage .imagesection .image:nth-child(2) {
  left: 20px;
}
.homepage .imagesection .image:nth-child(3) {
  left: 40px;
}
.homepage .imagesection .image:nth-child(4) {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #9a9a9a;
  left: 60px;
}
.homepage .imagesection .image:nth-child(4) p {
  font-size: 10px;
  font-weight: 600;
}

.homepage .nav-tabs {
  border-bottom: 3px solid #f2f2f2;
}
.homepage .maincontent .maincontentbody .content h1 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 3rem;
}
.homepage .taskheader .nav-tabs .nav-item {
  width: 25%;
}
.homepage .taskheader .nav-tabs .nav-item.show .nav-link,
.taskheader .nav-tabs .nav-link {
  color: #a7a7a7;
}
.homepage .taskheader .nav-tabs .nav-link:focus,
.homepage .taskheader .nav-tabs .nav-link:hover {
  color: #336cfb;
  border-color: transparent;
}
.homepage .taskheader .nav-tabs .nav-item.show .nav-link,
.homepage .nav-tabs .nav-link {
  width: 100%;
  padding: 40px 0rem;
}
.taskheader .nav-tabs .nav-item.show .nav-link,
.taskheader .nav-tabs .nav-link.active {
  border-color: transparent;
  color: var(--clr-primary);
  border-bottom: 3px solid var(--clr-primary);
}
.taskheader .nav-tabs .nav-item.show .nav-link,
.taskheader .nav-tabs .nav-link {
  background: transparent;
}

.taskheader .nav-tabs .nav-item.show .nav-link,
.taskheader .nav-tabs .nav-link .counter {
  padding: 4px 8px;
  background: #ece7fe;
  color: #336cfb;
  font-size: 12px;
  border-radius: 4px;
}

.homepage .content .progress {
  width: 80px;
  height: 80px;
  background: none;
  position: relative;
}

.homepage .content .progress::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 6px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
}

.homepage .content .progress > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.homepage .content .progress .progress-left {
  left: 0;
}

.homepage .content .progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 6px;
  border-style: solid;
  position: absolute;
  top: 0;
}

.homepage .content .progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.homepage .content .progress .progress-right {
  right: 0;
}

.homepage .content .progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}

.homepage.content .border-primary {
  border-color: var(--clr-primary) !important;
}
.homepage .content .border-secondary {
  border-color: coral !important;
}
.homepage .content .progress .progress-value {
  position: absolute;
  top: 0;
  left: 0;
}

.taskheader .nav-tabs .nav-item.show .nav-link,
.taskheader .nav-tabs .nav-link p {
  font-size: 16px;
  font-weight: 500;
}

.taskheader .tab-pane .tasks {
  padding: 2rem 0;
}

.taskheader .tab-pane .tasks input[type="checkbox"] {
  position: relative;
  cursor: pointer;
}
.taskheader .tab-pane .tasks input[type="checkbox"]:before {
  content: "";
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  top: 0;
  left: 0;
  background-color: #e9e9e9;
}
.taskheader .tab-pane .tasks input[type="checkbox"]:checked:before {
  content: "";
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  top: 0;
  left: 0;
  background: #7655ea;
  box-shadow: 0px 7px 12px rgba(118, 85, 234, 0.3);
}
.taskheader .tab-pane .tasks input[type="checkbox"]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 5px;
  left: 10px;
}
.taskheader .tab-pane .tasks .task p {
  font-size: 14px;
  font-weight: 300;
}
.taskheader .tab-pane .tasks button {
  padding: 8px 24px;
  font-size: 14px;

  border-radius: 240px;
}
.taskheader .tab-pane .tasks button.Approved {
  background-color: #ece7fe;
  color: #336cfb;
}

.taskheader .tab-pane .tasks button.inProgress {
  background-color: #e1faf4;
  color: #47c7ab;
}

.content .weeksummary .cards .card {
  height: 10rem;
}

.content .weeksummary .cards .card h5 {
  font-size: 16px;
  color: #a7a7a7;
}

.content .weeksummary .cards .card p {
  font-size: 20px !important;
  color: #000000;
  font-weight: 500;
}

.rightcontent .overview {
  margin-bottom: 3rem;
}
.rightcontent .overview h4 {
  font-size: 16px;
  color: #5b5858;
  font-weight: 400;
  margin-bottom: 14px;
}

.rightcontent .overview .container {
  padding: 27px 0;
  background: #e8fbff;
  border-radius: 6px;
}
.rightcontent .overview .Project {
  background: #ece8ff;
}
.rightcontent .overview .container h4 {
  font-size: 35px;
  font-weight: 700;
}
.rightcontent .progressStatus {
  margin-bottom: 3rem;
}
.rightcontent .progressStatus .progresses h4 {
  font-size: 16px;
}
.rightcontent .progressStatus .progresses p {
  font-size: 12px;
  font-weight: 500;
}
.rightcontent .progressStatus .progressHeader {
  margin-bottom: 20px;
}
.rightcontent .progressStatus .progresses .progressContainer {
  background-color: #efefef;
  height: 5px;
  border-radius: 12px;
  overflow: hidden;
}
.rightcontent .progressStatus .progresses .progressContainer .progressBar {
  background-color: #52459d;
  height: 100%;
}

.rightcontent .vulnerabilities h4 {
  font-size: 16px;
  color: #5b5b5b;
  font-weight: 400;
  margin-bottom: 10px;
}
.rightcontent .vulnerabilities p {
  font-size: 14px;
  margin-bottom: 10px;
}
.rightcontent .vulnerabilities p span {
  color: var(--clr-primary);
  font-weight: 600;
}
.chart {
  display: none;
}
FB3333
/* 
Main dashboard finished */

/* ProjectTable starts */
.projectlist .maincontentbody .tables {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.05),
    4px 36px 46px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  overflow: hidden;
}
.projectlist .maincontentbody .tables .table {
  margin: 0;
}
.projectlist .maincontentbody .tables .table tr .icon {
  height: 100%;
}
.projectlist .maincontentbody .tables .table tr td {
  border: none;
  padding: 21px 20px;
}
.projectlist .maincontentbody .tables .table tr:nth-child(1) {
  font-size: 18px;
  font-weight: 500;
}
.projectlist .maincontentbody .tables .table tr:nth-child(even) {
  background: #fff6f8;
}

/* ProjectTable ends */

/* project form */
/* 
.ProjectForm .form > div {
  margin-bottom: 3rem;
  border-radius: 12px;
}
.ProjectForm .form .BugStatus {
  box-shadow: 0px 0px 12px rgb(0 0 0 / 5%), 4px 36px 46px rgb(0 0 0 / 5%);
}
.ProjectForm .maincontent .maincontentbody h4 {
  font-size: 18px;
  color: #5b5858;
  margin-bottom: 20px;
}

.ProjectForm .maincontent .maincontentbody .projectDetail > div {
  background: #ffffff;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.05),
    4px 36px 46px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}

.ProjectForm .maincontent .maincontentbody .projectDetail .content {
  width: 100%;
  padding: 2rem 2rem;
  height: 15rem;
}

.ProjectForm .maincontent .maincontentbody .projectDetail .content .logo {
  height: 100px;
  width: 100px;
  overflow: hidden;
}
.ProjectForm .maincontent .maincontentbody .projectDetail .content .logo img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.ProjectForm .maincontent .maincontentbody .projectDetail > div > * {
  margin-bottom: 40px;
}
.ProjectForm
  .maincontent
  .maincontentbody
  .projectDetail
  > div
  > *:nth-child(4) {
  margin: 0;
}
.ProjectForm .maincontent .maincontentbody .projectDetail > div h5 {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 12px;
}
.ProjectForm .maincontent .maincontentbody .textarea {
  background: #ffffff;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.05),
    4px 36px 46px rgba(0, 0, 0, 0.05);
  width: 100%;
  padding: 20px 15px;
  color: #52575c;
  font-weight: 400;
  line-height: 1.6rem;
  font-size: 14px;
}

.ProjectForm .maincontent .maincontentbody input,
.ProjectForm .maincontent .maincontentbody textarea {
  background: #ffffff;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.05),
    4px 36px 46px rgba(0, 0, 0, 0.05);
  width: 100%;
  outline: none;
  border-radius: 8px;
  border: none;
  font-size: 14px;
  padding: 15px 15px;
}

.ProjectForm .maincontent .maincontentbody button {
  padding: 10px 20px;
  color: white;
  border-radius: 0px 14px 14px 14px;
  box-shadow: 0px 12px 24px rgba(98, 60, 231, 0.5);
  font-weight: 600;
}
.ProjectForm .maincontent .maincontentbody button.draft {
  border: 2px solid #623ce6;
  color: #623ce6;
}

.ProjectForm .maincontent .maincontentbody button.Preview {
  background: rgba(98, 60, 231, 0.6);
}

.ProjectForm .maincontent .maincontentbody button.Save {
  background: #336cfb;
}

.ProjectForm .target {
  margin-bottom: 3rem;
}

.ProjectForm h4 {
  font-size: 18px;
  color: #5b5858;
}
.ProjectForm .target select {
  background: #ffffff;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.05),
    4px 36px 46px rgba(0, 0, 0, 0.05);
  width: 100%;
  outline: none;
  border-radius: 6px;
  border: none;
  padding: 15px 10px;
}
.ProjectForm .target button {
  background: #336cfb;
  border-radius: 0px 4px 4px 4px !;
}
.ProjectForm .rewardscontainer {
  background: #ffffff;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.05),
    4px 36px 46px rgba(0, 0, 0, 0.05);
}
.ProjectForm .rewardscontainer .box {
  padding: 5px 15px;
  text-align: center;
  width: 145.83px;
  border-radius: 7px 0px 7px 7px;
  color: #ffffff;
}
.ProjectForm .rewardscontainer .box.Critical {
  background-color: #f66262;
}
.ProjectForm .rewardscontainer .box.High {
  background-color: #f78888;
}
.ProjectForm .rewardscontainer .box.Moderate {
  background-color: #f5ad40;
}
.ProjectForm .rewardscontainer .box.Low {
  background-color: #47bb60;
}
.ProjectForm .rewardscontainer .rewardrange input {
  outline: none;
  font-size: 12px;
  padding: 5px;
  border: 2px solid #e9e9e9;
  height: 30px;
  border-radius: 7px 0px 7px 7px;
}
.ProjectForm .rewardscontainer .rewardrange input.Critical {
  border-color: #f66262;
}
.ProjectForm .rewardscontainer .rewardrange input.High {
  border-color: #f78888;
}
.ProjectForm .rewardscontainer .rewardrange input.Moderate {
  border-color: #f5ad40;
}
.ProjectForm .rewardscontainer .rewardrange input.Low {
  border-color: #47bb60;
}

.ProjectForm .Hackercontainer {
  background: #ffffff;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.05),
    4px 36px 46px rgba(0, 0, 0, 0.05);
}
.ProjectForm .Hackerlist .button button {
  padding: 5px 15px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.05),
    4px 36px 46px rgba(0, 0, 0, 0.05);
  border-radius: 0px 7px 7px 7px;
  font-size: 14px;
}

.ProjectForm .rightcontent .Hackerlist .button button.cancel {
  border: 2px solid #47bb60;
  color: #47bb60;
}
.ProjectForm .rightcontent .Hackerlist .button button.Invite {
  background: #47bb60;
  color: white;
  font-weight: 600;
}

.ProjectForm .rightcontent .Hackercontainer .userlist .list {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.ProjectForm .rightcontent .Hackercontainer .userlist .list:last-child {
  margin-bottom: 0px;
}
.ProjectForm .rightcontent .Hackercontainer .userlist .list .icon {
  height: 10px;
  background-color: var(--clr-primary);
  width: 10px;
}
.ProjectForm .rightcontent .Hackercontainer .userlist .list .delete {
  margin-left: auto;
  color: #f8896b;
} */

.ProjectForm .maincontentbody h4 {
  margin-bottom: 2rem;
  font-size: 20px;
}

.ProjectForm .maincontentbody .card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 2rem;
  background: #ffffff;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.05),
    4px 36px 46px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}

.ProjectForm .maincontentbody .card .WizardForm {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.ProjectForm .maincontentbody .card .WizardForm .step {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ProjectForm .maincontentbody .card .WizardForm .step .line {
  position: absolute;
  width: 4px;
  z-index: 0;
  height: 70px;
  background: #5b5858;
}
.ProjectForm .maincontentbody .card .WizardForm .step .line.active {
  background: #336cfb;
}
.ProjectForm .maincontentbody .card .WizardForm .step .circle {
  position: absoulte;
  z-index: 1;
  height: 18px;
  width: 18px;
  background-color: white;
  border-radius: 50%;
  border: 3px solid #5b5858;
}
.ProjectForm .maincontentbody .card .WizardForm .step .circle.active {
  background: #336cfb;
  border: none;
}

.ProjectForm .maincontentbody .card .links {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.ProjectForm .maincontentbody .card .links .link {
  background: #ffffff;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  width: 100%;
}
.ProjectForm .maincontentbody .card .links .link p {
  text-decoration: none;
  color: #5b5858;
}
.ProjectForm .maincontentbody .card .links .link p.active {
  color: #336cfb;
}
.ProjectForm .maincontentbody .projectDetail input {
  border: 1px solid #cecdcd;
}
.ProjectForm .maincontentbody .projectDetail label {
  margin-bottom: 10px;
  font-size: 16px;
}
.ProjectForm .maincontentbody .projectDetail h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.ProjectForm .maincontentbody .table {
  background: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}
.ProjectForm .maincontentbody .table tr td {
  padding: 30px !important;
  color: #9f9fbb;
}
.ProjectForm .maincontentbody .table tr td:nth-child(3) {
  color: #9f9fbb !important;
}
.ProjectForm .maincontentbody .table tr:first-child {
  background: #adc4fd;
}
.ProjectForm .maincontentbody .table tr:first-child td {
  color: #2d2b2b !important;
}
.modelcontainer {
  display: none;
  background-color: rgba(0, 0, 0, 0.486);
  position: absolute;
  z-index: 9999999;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
.model {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  width: 40rem;
  padding: 2rem;
  border-radius: 6px;
}
.model .modelheader {
  margin-bottom: 2rem;
}

.modelcontainer .modelbody > form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
}
.modelcontainer .modelbody > form label {
  margin-bottom: 5px;
}
.modelcontainer .modelbody > form select {
  padding: 5px 10px;
  border: 1px solid #8f8e8e;
  background-color: transparent;
}

/* 
project form ends */

/* projectlistview :start */

.projectlist,
.ProjectForm,
.MasterDataEntry {
  width: calc(100vw - 10vh) !important;
}
.projectlist .profile,
.ProjectForm .profile,
.MasterDataEntry .profile {
  margin: 0;
  padding: 0;
}

.projectlist .profile .rightcontainer,
.ProjectForm .profile .rightcontainer,
.MasterDataEntry .profile .rightcontainer {
  gap: 10px;
}
.maincontent .maincontentbody > .table {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.05),
    4px 36px 46px rgba(0, 0, 0, 0.05);
  padding: 20px;
  border-radius: 6px;
}

.maincontent .maincontentbody .table tr:nth-child(even) {
  background: #f9f9f9;
}
.maincontent .maincontentbody .search {
  box-shadow: 4px 36px 46px rgba(0, 0, 0, 0.05);
  padding: 20px 20px;
  border-radius: 6px;
  width: 20%;
}

.maincontent .maincontentbody .search input {
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
  font-size: 14px;
}

.maincontent .maincontentbody .table tr td,
.maincontent .maincontentbody .table tr th {
  border: none !important;
  vertical-align: middle;
  height: 100%;
  padding: 20px;
}

.maincontent .maincontentbody .table tr td .image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.maincontent .maincontentbody .table tr td:nth-child(3) {
  color: #bf2900;
}

.maincontent .maincontentbody .table tr td:nth-child(4) {
  color: #388f1a;
}

.maincontent .maincontentbody .table tr td .icon .fa-eye {
  color: #388f1a;
}
.maincontent .maincontentbody .table tr td .icon .fa-edit {
  color: #6b51df;
}
.maincontent .maincontentbody .table tr td .icon .fa-trash-alt {
  color: #eb1616;
}

.maincontent .maincontentbody .table tr td .image {
  height: 40px;
  width: 40px;
  overflow: hidden;
}

/* 
Project list :end */

/* 
.MasterDataEntry :start */
.MasterDataEntry .maincontentbody > h4 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 2rem;
}
.MasterDataEntry .card {
  border: none;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.05),
    4px 36px 46px rgba(0, 0, 0, 0.05);

  border-radius: 6px;
}
.MasterDataEntry .card .nav-tabs {
  border: none;
}
.MasterDataEntry .card ul li button {
  width: 100%;
  padding: 20px;

  color: #252525;
  border: none;
}
.MasterDataEntry .card ul li button p {
  font-size: 16px !important;
  font-weight: 500;
}
.MasterDataEntry .card ul li:nth-child(odd) {
  background: #fff6f8;
}
.MasterDataEntry .card ul li button.active {
  background-color: #c4b9f2;
}

.MasterDataEntry .card .form input {
  border: none;
  outline: none;
  font-size: 14px;
  padding: 15px 15px;
  background: #ffffff;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.05),
    4px 36px 46px rgba(0, 0, 0, 0.05);
}

.MasterDataEntry .card .form button {
  padding: 10px 15px;
  background: #336cfb;
  color: #ffffff;
  font-weight: 600;
  box-shadow: 0px 12px 24px rgba(98, 60, 231, 0.5);
  border-radius: 0px 7px 7px 7px;
  font-size: 14px;
}
.MasterDataEntry .maincontentheader {
  margin-bottom: 0;
}
@media all and (max-width: 1366px) {
  p {
    font-size: 12px !important;
  }
  .Approved,
  .inProgress {
    font-size: 12px !important;
  }
}
