.vehicleDetailModal {
    width: 100%;
    height: 100vh;
    background: rgba(52, 57, 87, 0.5);
    top: 0;
    right: 0;
    position: fixed;
    justify-content: center;
    align-items: center;
    display: none;
}

.vehicleDetailModalMain {
    padding: 78px 162px;
    background: #fff6f8;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vehicleDetailModalIcon .fa-check-circle {
    font-size: 80px;
    color: #6b51df;
}

.vehicleDetailModalConfirmTitle {
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 0.02em;
    font-style: normal;
    color: #2d2b2b;
    margin-top: 18px;
}

.vehicleDetailModalBtns {
    width: 354px;
    height: 60px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    margin-top: 48px;
}

.vehicleDetailModalConfirm,
.vehicleDetailModalCancle {
    position: absolute;
    width: 190px;
    height: 60px;
    border-radius: 5px;
    transform: skewX(-30deg);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.vehicleDetailModalConfirm {
    left: -18px;
    background: #6b51df;
    color: #ffffff;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
}

.vehicleDetailModalCancle {
    right: -18px;
    background: #d2caf8;
    color: #6b51df !important;
}

.vehicleDetailModalConfirm h1,
.vehicleDetailModalCancle h1 {
    transform: skewX(30deg);
    font-weight: 500;
    font-size: 24px;
    font-style: normal;
}