<div class="modal-header">
    <h6 class="modal-title" id="exampleModalLongTitle">Add Photo</h6>
    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
        <span aria-hidden="true"><i class="ic-close"></i></span>
    </button>
</div>
<form id="createImageForm" action="{% url 'splash:add_image' splash.pk %}" enctype="multipart/form-data" method="POST">
    {{formset.media}}
    {{ formset.management_form }}

    {% csrf_token %}
    <div class="modal-body">
        {% for form in formset %}
        <div class="form-row formset-row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label for="">Image Title</label>
                    {{form.image_caption}}
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label for="">Image Link</label>
                    {{form.link}}
                </div>
            </div>

            <div class="col-lg-12">
                <div class="form-group">
                    <label for="">Image</label>
                    {{form.splash_image}}
                </div>
                <label class="text-primary mt-2 cover">
                  <i class="ic-info mr-2"></i>In PNG/ JPG format. Max size 1 MB and Resolution of 604 x 420 pixels.
                  </label>
            </div>
        <button type="button" class="btn btn-danger remove-form-row mb-4 ml-2">
            <i class="ic-delete"></i>
        </button>
        </div>
        {% endfor %}
        <button type="button" class="btn btn-outline-primary add-button" id="addImgButton">
            <span class="ic-add mr-2"></span> Add Image
        </button>
    </div>
    <div class="modal-footer">
        <button class="btn btn-outline-secondary" data-dismiss="modal" type="button" id="cancel">
            Cancel
        </button>
        <button class="btn btn-primary" type="submit" form="createImageForm" id="addImageToGallery">Add</button>
    </div>
</form>


<script>
    function cloneMore(selector, prefix) {
        var newElement = $(selector).clone(true, true);
        var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
        newElement.find(':input:not([type=button](sad)not([type=submit](sad)not([type=reset])').each(function () {
            var name = $(this).attr('name').replace('-' + (total - 1) + '-', '-' + total + '-');
            var id = 'id_' + name;
            $(this).attr({
                'name': name,
                'id': id
            }).val('')
        });

        hid_el = newElement.find('div.hidden')
        var hidden_id = hid_el.find('.vForeignKeyRawIdAdminField').attr('id')
        var variable = hid_el.find("a.related-lookup").attr("id", "lookup_" + hidden_id)

        filer_a_tag = newElement.find('a.js-related-lookup')
        filer_a_tag.attr('id', hidden_id + "_lookup" )

        newElement.find(".remove-form-row").removeClass('d-none')

        newElement.find('label').each(function () {
            var forValue = $(this).attr('for');
            if (forValue) {
                forValue = forValue.replace('-' + (total - 1) + '-', '-' + total + '-');
                $(this).attr({
                    'for': forValue
                });
            }
        });
        total++;
        $('#id_' + prefix + '-TOTAL_FORMS').val(total);
        $(selector).after(newElement);
    }

    function updateElementIndex(el, prefix, ndx) {
        var id_regex = new RegExp('(' + prefix + '-\\d+)');
        var replacement = prefix + '-' + ndx;
        if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
        if (el.id) el.id = el.id.replace(id_regex, replacement);
        if (el.name) el.name = el.name.replace(id_regex, replacement);
    }

    function deleteForm(prefix, btn) {
        var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        if (total > 1) {
            btn.closest('.formset-row').remove();
            var forms = $('.formset-row');
            $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
            for (var i = 0, formCount = forms.length; i < formCount; i++) {
                $(forms.get(i)).find(':input').each(function () {
                    updateElementIndex(this, prefix, i);
                });
            }
        }
        return false;
    }

    $('.add-button').on('click', function (e) {
        e.preventDefault();
        cloneMore('.formset-row:last', '{{formset.prefix}}');
        $('img.filerClearer:last').click();
        return false;
    });

    $('.remove-form-row').on('click', function (e) {
       e.preventDefault();
       deleteForm('{{formset.prefix}}', $(this));
       return false;
    });
</script>

<script>
    $("#addImageToGallery").on('click', function (e) {
        e.preventDefault()
        var img = $(".vForeignKeyRawIdAdminField:last").val()
        let valid = true
        if (!img || img == '') {
            Swal.fire({
                position: 'top-end',
                icon: 'warning',
                title: 'Image field is required.',
                heightAuto: false,
                customClass: 'swal-custom',
                showConfirmButton: false,
                timerProgressBar: true,
                timer: 5000
            })
            valid = false
        }
        if (valid) {
            $("#createImageForm").submit()
        }

    })
</script>

<script>
$(document).ready(function(e){
    $(".formset-row:first").find(".remove-form-row").addClass('d-none')
})
</script>