<!DOCTYPE html>
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Address Detail</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'css/personalDetail.css' %}">
</head>

<body>
    <section id="sideBar" class="sideBar">
        <div class="logo">
            <img src="{% static 'image/logo.png' %}" alt="logo" srcset="">
        </div>
        <a href="{% url 'users:personal_info' %}">
            <div class="sidebarBtn "> <i class="far fa-address-card"></i>
                <p>Personal Details</p>
            </div>
        </a>
        <a href="{% url 'users:address_info' %}">
            <div class="sidebarBtn "> <i class="far fa-map-marker-alt"></i>
                <p>Address Details</p>
            </div>
        </a>
        <a href="{% url 'users:education_info' %}">
            <div class="sidebarBtn "> <i class="far fa-graduation-cap"></i>
                <p>Education Details</p>
            </div>
        </a>
        <a href="{% url 'users:training_info' %}">
            <div class="sidebarBtn"> <i class="far fa-certificate"></i>
                <p>Training</p>
            </div>
        </a>
        <a href="{% url 'users:work_info' %}">
            <div class="sidebarBtn"> <i class="far fa-briefcase"></i>
                <p>Work Experience</p>
            </div>
        </a>
        <a href="{% url "users:social_info" %}">
            <div class="sidebarBtn"> <i class="far fa-address-book"></i>
                <p>Social Media Accounts</p>
            </div>
        </a>

    </section>

    {% block content %}
    {% endblock %}


</body>
