<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Pentest Portal</title>

    <style>
        label{
            color: black;
        }
        p {
            color: black;
        }
        div {
            padding: 15px;
        }
    </style>

</head>

<body style="background-color: aliceblue;">

        <div class="quixnav" style="background-color: rgb(138, 141, 143);">
            <div class="quixnav-scroll">
                <ul class="metismenu" id="menu">
                    <!-- <li class="nav-label first">Personal Information</li> -->
                    <li><a href="{% url 'users:personal_info' %}" aria-expanded="false"><span class="nav-text">Personal Information</span></a>
                    </li>
                    <li><a href="{% url 'users:address_info' %}" aria-expanded="false"><span class="nav-text">Address Details</span></a>
                    </li>
                    <li><a href="{% url 'users:education_info' %}" aria-expanded="false"><span class="nav-text">Education Details</span></a>
                    </li>
                    <li><a href="{% url 'users:training_info' %}" aria-expanded="false"><span class="nav-text">Training</span></a>
                    </li>
                    <li><a href="{% url 'users:work_info' %}" aria-expanded="false"><span class="nav-text">Work Experience</span></a>
                    </li>
                    <li><a href="{% url 'users:social_info' %}" aria-expanded="false"><span class="nav-text">Social Media Accounts</span></a>
                    </li>

                </ul>
            </div>


        </div>


            {% block content %}
            {% endblock %}

    </div>


</body>

</html>