{% extends "users/base_form.html" %}
{% load static %}
{% block content %}
    <section class="contentBar">
        <div class="navbar"><i onclick="sideCollapse()" class="collapseBar fas fa-bars"></i><i onclick="sideShow()" class="showBar fas fa-bars"></i>
            <p>Education Details</p>
        </div>
        <div class="mainContent">
            <form id="form-container" action="{% url 'users:education_info' %}" method="POST">
                {% csrf_token %}
                <div id='empty-form' class='hidden-form'>
                    <div class="personalDetail-name">
                        <div class="maritalStatus">
                            <h4>Degree</h4>
                            {{ formset.empty_form.edu_level }}
                        </div>

                        <div class="personalDetail-fname">
                            <h4>Education Program</h4>
                            {{ formset.empty_form.faculty }}
                        </div>
                        <div class="maritalStatus">
                            <h4>Education Board</h4>
                            {{ formset.empty_form.university }}
                        </div>
                        <div class="personalDetail-fname">
                            <h4>Institute Name</h4>
                            {{ formset.empty_form.institution_name }}
                        </div>
                        <div class="marksSecured">
                            <h4>Marks Secured</h4>
                            <div class="doubleInput">
                                {{ formset.empty_form.per_gpa_type }}
                                {{ formset.empty_form.per_gpa_value }}
                            </div>
                        </div>
                        <div class="marksSecured">
                            <h4>Graduation year</h4>
                            <div class="doubleInput">
                                {{ formset.empty_form.passed_date }}
                            </div>
                        </div>
                    </div>
                    <br>
                    <hr>
                </div>


                {{ formset.management_form }}
                {% for form in formset %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    <div class="personalDetail-name">
                        <div class="maritalStatus">
                            <h4>Degree</h4>
                            {{ form.edu_level }}
                        </div>

                        <div class="personalDetail-fname">
                            <h4>Education Program</h4>
                            {{ form.faculty }}
                        </div>
                        <div class="maritalStatus">
                            <h4>Education Board</h4>
                            {{ form.university }}
                        </div>
                        <div class="personalDetail-fname">
                            <h4>Institute Name</h4>
                            {{ form.institution_name }}
                        </div>
                        <div class="marksSecured">
                            <h4>Marks Secured</h4>
                            <div class="doubleInput">
                                {{ form.per_gpa_type }}
                                {{ form.per_gpa_value }}
                            </div>
                        </div>
                        <div class="marksSecured">
                            <h4>Graduation year</h4>
                            <div class="doubleInput">
                                {{ form.passed_date }}
                            </div>
                        </div>
                    </div>
                    <br>
                    <hr>
                {% endfor %}


                <div id="add-form" class="addSection">
                    + Add More Educational Detail
                </div>

                <div class="formSubmitBtn">
                    <input type="button" value="Skip" class="formButton">
                    <input type="submit" value="Save" class="formButton">
                </div>
            </form>
        </div>
    </section>

    <script>
        const totalNewForms = document.getElementById("id_educationdetails_set-TOTAL_FORMS")
    </script>

{% endblock %}