<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="{% static 'css/personalDetail.css' %}">
</head>

<body>

<section class="contentBar">
    <div class="navbar">
        <p>Password Reset</p>
    </div>

    {% if messages %}
        <div class="row">
            <div class="offset-md-4 col-md-4">

                {% for message in messages %}
                    <div class="alert alert-dismissible alert-{{ message.tags }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="mainContent">
        <form action="{% url 'users:change-password' %}" method="POST">
            <div class="personalDetail-name">
                {% csrf_token %}
                <div class="personalDetail-fname">
                    <h4>Current Password</h4>
                    {% if form.current_password.errors %}
                        {{ form.current_password| add_class:'is-invalid' }}
                            <div class="invalid-feedback">
                                {{ form.current_password.errors }}
                            </div>
                    {% else %}
                        {{ form.current_password }}
                    {% endif %}
                </div>
                <div class="personalDetail-fname">
                    <h4>New Password</h4>
                    {% if form.new_password.errors %}
                        {{ form.new_password| add_class:'is-invalid' }}
                            <div class="invalid-feedback">
                                {{ form.new_password.errors }}
                            </div>
                    {% else %}
                        {{ form.new_password }}
                    {% endif %}
                </div>
                <div class="personalDetail-fname">
                    <h4>Confirm New Password</h4>
                    {% if form.confirm_new_password.errors %}
                        {{ form.confirm_new_password| add_class:'is-invalid' }}
                            <div class="invalid-feedback">
                                {{ form.confirm_new_password.errors }}
                            </div>
                    {% else %}
                        {{ form.confirm_new_password }}
                    {% endif %}
                </div>
                <div>
                    <input type="button" value="Skip" class="formButton">
                    <input type="submit" value="Save" class="formButton">
                </div>
            </div>

        </form>
    </div>
</section>

</body>

</html>