{% extends "users/base_form.html" %}
{% load static %}
{% block content %}
    <section class="contentBar">
        <div class="navbar"><i onclick="sideCollapse()" class="collapseBar fas fa-bars"></i><i onclick="sideShow()"
                                                                                               class="showBar fas fa-bars"></i>
            <p>Basic Details</p>
        </div>
        <div class="mainContent">
            <form action="{% url 'users:personal_info' %}" method="POST">
                {% csrf_token %}
                <div class='personalDetail-name formset-row'>
                    <div class="personalDetail-fname">
                        <h4>First Name</h4>
                        {{ user_form.first_name }}
                    </div>
                    <div class="personalDetail-fname">
                        <h4>Middle Name</h4>
                        {{ user_form.middle_name }}
                    </div>
                    <div class="personalDetail-fname">
                        <h4>Last Name</h4>
                        {{ user_form.last_name }}
                    </div>

                    <div class="personalDetail-fname">
                        <h4>Date of Birth</h4>
                        {{ profile_form.date_of_birth }}
                    </div>
                    <div class="personalDetail-fname">
                        <h4>Gender</h4>
                        <div class="gender">
                            {{ profile_form.gender }}
                        </div>
                    </div>
                    <div class="maritalStatus">
                        <h4>Marital Status</h4>
                        {{ profile_form.marital_status }}
                    </div>
                    <div class="personalDetail-fname">
                        <h4>Nationality</h4>
                        {{ profile_form.nationality }}
                    </div>
                    <div class="personalDetail-fname">
                        <h4>PAN Number</h4>
                        {{ profile_form.pan_number }}
                    </div>
                    <div class="personalDetail-fname">
                        <h4>National Identity Number</h4>
                        {{ profile_form.national_identity_num }}
                    </div>
                </div>
                <div class="navbar1">Family Information</div>
                <div class="personalDetail-name">
                    <div class="personalDetail-fname">
                        <h4>Father’s Full Name</h4>
                        {{ profile_form.father_full_name }}
                    </div>
                    <div class="personalDetail-fname">
                        <h4>Mother’s Full Name</h4>
                        {{ profile_form.mother_full_name }}
                    </div>
                    <div class="personalDetail-fname">
                        <h4>Spouse Full Name(optional)</h4>
                        {{ profile_form.spouse_full_name }}
                    </div>

                </div>


                <div class="formSubmitBtn">
                    <a href="{% url 'users:address_info' %}"><input type="button" value="Skip" class="formButtonSkip"></a>
                    <input type="submit" value="Save" class="formButtonSave">
                </div>
            </form>
        </div>
    </section>

    <script>
        document.querySelector('#sidebar1').classList.add('activeSideBar');
    </script>

{% endblock %}