{% extends "users/base_form.html" %}
{% load static %}
{% block content %}
<div class="container p-6">
    <p>Basic Information</p>
    <hr>
    <div class="row">
        <div class="col">
            <label for="fname">First Name</label>
            <input type="text" id="fname" class="form-control" placeholder="Ram" aria-label="First name" required>
        </div>
        <div class="col">
            <label for="mname">Middle Name</label>
            <input type="text" id="mname" class="form-control" placeholder="bahadur" aria-label="Last name" required>
        </div>
        <div class="col">
            <label for="lname">Last Name</label>
            <input type="text" id="lname" class="form-control" placeholder="Thapa" aria-label="Last name" required>
        </div>
    </div>

    <div class="row p-6">
        <div class="col">
            <div>
                <label for="dob">Date of Birth</label>
            </div>
            <input type="date" name="dob" id="dob" placeholder="2052-10-31" aria-label="Date of Birth" required>
        </div>
        <div class="col">
            <p>Gender</p>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="male" value="option1">
                <label class="form-check-label" for="male">Male</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="female" value="option2">
                <label class="form-check-label" for="female">Female</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="others" value="option3">
                <label class="form-check-label" for="other">Others</label>
            </div>
        </div>
        <div class="col">
            <p>Marital status</p>
            <select class="form-select" id="marital-status" aria-label="Marital Status">
                <option selected>Single</option>
                <option value="1">Married</option>
                <option value="2">Divorced</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="nation">Nationality</label>
            <input type="text" id="nation" class="form-control" placeholder="" aria-label="Nationality">
        </div>
        <div class="col">
            <label for="panNum">Pan Number</label>
            <input type="number" id="panNum" class="form-control" placeholder="" aria-label="Pan Number">
        </div>
        <div class="col">
            <label for="idNum">National Identity Number</label>
            <input type="number" id="idNum" class="form-control" placeholder="" aria-label="National Identity Number">
            </div>
    </div>
    
    <div class="pt-7">
        <p>Family Information</p>
        <hr>
        <div class="row pt-4">
            <div class="col">
                <label for="fathername">Father's Full Name</label>
                <input type="text" id="fathername" class="form-control" placeholder="" aria-label="Father's Full Name">
            </div>
            <div class="col">
                <label for="mothername">Mother's Full Name</label>
                <input type="text" id="mothername" class="form-control" placeholder="" aria-label="Mother's Full Name">
            </div>
            <div class="col">
                <label for="spousename">Spouse's Full Name(optional)</label>
                <input type="text" id="spousename" class="form-control" placeholder="" aria-label="Spouse Full Name">
            </div>
        </div>
    </div>
    <div class="buttons">
        <input type="button" value="Skip" style="float: right; color: white; background-color: red;">
        <input type="button" value="Save" style="float: right; color: white; background-color:green;">
    </div>
</div>
{% endblock %}