<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="{% static 'css/personalDetail.css' %}">
</head>

<body>

<section class="contentBar">
    <div class="navbar">
        <p>Registration</p>
    </div>
    <div class="mainContent">
        <form action="{% url 'users:register' %}" method="POST">
            
            {% if form.non_field_errors %}
            <div class="col-md-12">
                <div class="alert alert-danger">
                    <ul>
                        {% for error in form.non_field_errors %}
                        <li class="alert alert-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
            
            <div class="personalDetail-name">
                {% csrf_token %}
                <div class="personalDetail-fname">
                    <h4>First Name</h4>
                    <!-- <input type="text" id="FirstName" name="FirstName" placeholder="First Name" required> -->
                    {{form.first_name}}
                </div>
                <div class="personalDetail-fname">
                    <h4>Middle Name</h4>
                    <!-- <input type="text" id="MiddleName" name="MiddleName" placeholder="Middle Name"> -->
                    {{form.middle_name}}
                </div>
                <div class="personalDetail-fname">
                    <h4>Last Name</h4>
                    <!-- <input type="text" id="LastName" name="LastName" placeholder="Last Name" required> -->
                    {{form.last_name}}
                </div>
                <div class="personalDetail-fname">
                    <h4>Email</h4>
                    <!-- <input type="email" placeholder="anil@example.com"> -->
                    <!-- {{form.email}} -->
                    {% if form.email.errors %}
                        {{ form.email| add_class:'is-invalid' }}
                            <div class="invalid-feedback">
                                {{ form.email.errors }}
                            </div>
                    {% else %}
                        {{ form.email }}
                    {% endif %}
                </div>

                <div class="personalDetail-fname">
                    <h4>Password</h4>
                    <!-- <input placeholder="Type in your password"> -->
                    {{form.password1}}
                </div>
                <div class="personalDetail-fname">
                    <h4>Retype Password</h4>
                    <!-- <input placeholder="Retype in your password"> -->
                    {{form.password2}}
                </div>

                                   <div class="personalDetail-fname">
                        <h4>Date Of Birth</h4>
                        {{form.dob}}
                    </div>
                    <div class="personalDetail-gender">
                        <h4>Gender</h4>
                        <div class="gender">
                            {{form.gender}}
                        </div>
                    </div>
            </div>

            <div class="formSubmitBtn">
                <input type="submit" value="Create" class="formButton">
            </div>
        </form>
    </div>
</section>

</body>

</html>