{% extends "users/base_form.html" %}
{% load static %}
{% block content %}
    <section class="contentBar">
        <div class="navbar"><i onclick="sideCollapse()" class="collapseBar fas fa-bars"></i><i onclick="sideShow()"
                                                                                               class="showBar fas fa-bars"></i>
            <p>Social Account</p>
        </div>
        <div class="mainContent">
            <form action="{% url 'users:social_info' %}" method="POST">
                {% csrf_token %}

                <div id="form0">
                    <div class="personalDetail-name">
                        <div class="personalDetail-fname">
                            <h4>Account Name</h4>
                            <input type="text" id="tole" placeholder="Facebook" required>
                        </div>
                        <div class="media-url">
                            <h4>URL</h4>
                            <input type="url" id="media-url" placeholder="facebook.com/anilkpanta.5/" required>
                        </div>

                    </div>
                </div>
                <div class="addSection" onclick="duplicate()">
                    + Add More Account
                </div>
                <div class="formSubmitBtn">
                    <input type="button" value="Skip" class="formButton">
                    <input type="submit" value="Save" class="formButton">
                </div>
            </form>
        </div>
    </section>
    <script>
        const sideCollapse = () => {
            document.querySelector(".sideBar").style.width = "50px";
            document.querySelector(".collapseBar").style.display = "none";
            document.querySelector(".showBar").style.display = "block";
        }
        const sideShow = () => {
            document.querySelector(".sideBar").style.width = "290px";
            document.querySelector(".showBar").style.display = "none";
            document.querySelector(".collapseBar").style.display = "block";
        }
        var i = 0;

        function duplicate() {
            var original = document.getElementById('form' + i);
            var clone = original.cloneNode(true);
            clone.id = "form" + ++i;
            original.appendChild(clone);
        }
    </script>
{% endblock %}