{% extends "users/base_form.html" %}
{% load static %}
{% block content %}
    <section class="contentBar">
        <div class="navbar"><i onclick="sideCollapse()" class="collapseBar fas fa-bars"></i><i onclick="sideShow()"
                                                                                               class="showBar fas fa-bars"></i>
            <p>Social Account</p>
        </div>
        <div class="mainContent">
            <form id="form-container" action="{% url 'users:social_info' %}" method="POST">
                {% csrf_token %}
                <div id='empty-form' class='hidden-form'>
                    <div class="personalDetail-name">
                        <div class="personalDetail-fname">
                            <h4>Account Name</h4>
                            {{ formset.empty_form.social_media }}
                        </div>
                        <div class="media-url">
                            <h4>URL</h4>
                            {{ formset.empty_form.link }}
                        </div>
                    </div>
                </div>

                {{ formset.management_form }}
                {% for form in formset %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}

                    <div class="personalDetail-name">

                        <div class="personalDetail-fname">
                            <h4>Account Name</h4>
                            {{ form.social_media }}
                        </div>
                        <div class="media-url">
                            <h4>URL</h4>
                            {{ form.link }}
                        </div>
                    </div>

                {% endfor %}


                <div id="add-form" class="addSection">
                    + Add More Account
                </div>

                <div class="formSubmitBtn">
                    <input type="button" value="Skip" class="formButton">
                    <input type="submit" value="Save" class="formButton">
                </div>
            </form>
        </div>
    </section>
    <script>
        const totalNewForms = document.getElementById("id_socialmedias_set-TOTAL_FORMS")
    </script>
{% endblock %}