<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Training</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/personalDetail.css">
</head>

<body>
    <section id="sideBar" class="sideBar">
        <div class="logo">
            <img src="image/logo.png" alt="logo" srcset="">
        </div>
        <a href="personalDetail.html">
            <div class="sidebarBtn "> <i class="far fa-address-card"></i>
                <p>Personal Details</p>
            </div>
        </a>
        <a href="addressDetail.html">
            <div class="sidebarBtn "> <i class="far fa-map-marker-alt"></i>
                <p>Address Details</p>
            </div>
        </a>
        <a href="educationDetail.html">
            <div class="sidebarBtn "> <i class="far fa-graduation-cap"></i>
                <p>Education Details</p>
            </div>
        </a>
        <a href="#">
            <div class="sidebarBtn active"> <i class="far fa-certificate"></i>
                <p>Training</p>
            </div>
        </a>
        <a href="workExperience.html">
            <div class="sidebarBtn"> <i class="far fa-briefcase"></i>
                <p>Work Experience</p>
            </div>
        </a>
        <a href="media.html">
            <div class="sidebarBtn"> <i class="far fa-address-book"></i>
                <p>Social Media Accounts</p>
            </div>
        </a>

    </section>
    <section class="contentBar">
        <div class="navbar"><i onclick="sideCollapse()" class="collapseBar fas fa-bars"></i><i onclick="sideShow()"
                class="showBar fas fa-bars"></i>
            <p>Training Details</p>
        </div>
        <div class="mainContent">
            <form action="">
                <div id="form0">
                    <div class="personalDetail-name" id="personalDetail-name">
                        <div class="personalDetail-fname">
                            <h4>Name of the Training</h4>
                            <input type="text" id="eduProgram" placeholder="Training Name" required>
                        </div>
                        <div class="personalDetail-fname">
                            <h4>Institute Name</h4>
                            <input type="text" id="eduProgram" placeholder="Institute Name" required>
                        </div>
                        <div class="maritalStatus">
                            <h4>Education Board</h4>
                            <select name="marital" id="marital">
                                <option value="education">Tribhuwan University</option>
                                <option value="education">Tribhuwan University</option>
                                <option value="education">Tribhuwan University</option>
                            </select>
                        </div>
                        <div class="marksSecured">
                            <h4>Training Duration</h4>
                            <div class="doubleInput">

                                <input type="number" min="0 year" max="20 year" step="1" value="0"
                                    id="marksSecuredNum" />
                                <select name="marksSecured" id="yearGrg">
                                    <option value="month">Months</option>
                                    <option value="month">Years</option>
                                    <option value="month">Days</option>
                                </select>
                            </div>
                        </div>
                        <div class="marksSecured">
                            <h4>Complition year</h4>
                            <div class="doubleInput">

                                <input type="number" min="1900" max="2099" step="1" value="2017" id="yearGrg" />
                                <select name="marksSecured" id="marksSecuredNum">
                                    <option value="month">Jan</option>
                                    <option value="month">Fab</option>
                                    <option value="month">Mar</option>
                                    <option value="month">Apr</option>
                                    <option value="month">May</option>
                                    <option value="month">Jun</option>
                                    <option value="month">Jul</option>
                                    <option value="month">Aug</option>
                                    <option value="month">Sep</option>
                                    <option value="month">Oct</option>
                                    <option value="month">Nov</option>
                                    <option value="month">Dec</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="addSection" onclick="duplicate()">
                    + Add More Training Detail
                </div>

                <div class="formSubmitBtn">
                    <input type="button" value="Skip" class="formButton">
                    <input type="submit" value="Save" class="formButton">
                </div>
            </form>
        </div>
    </section>
    <script>
        const sideCollapse = () => {
            document.querySelector(".sideBar").style.width = "50px";
            document.querySelector(".collapseBar").style.display = "none";
            document.querySelector(".showBar").style.display = "block";
        }
        const sideShow = () => {
            document.querySelector(".sideBar").style.width = "290px";
            document.querySelector(".showBar").style.display = "none";
            document.querySelector(".collapseBar").style.display = "block";
        }

        var i = 0;

        function duplicate() {
            var original = document.getElementById('form' + i);
            var clone = original.cloneNode(true);
            clone.id = "form" + ++i;
            clone.onclick = duplicate;
            original.appendChild(clone);
        }

    </script>
</body>

</html>