{% extends "users/base_form.html" %}
{% load static %}
{% block content %}
    <section class="contentBar">
        <div class="navbar"><i onclick="sideCollapse()" class="collapseBar fas fa-bars"></i><i onclick="sideShow()"
                                                                                               class="showBar fas fa-bars"></i>
            <p>Training Details</p>
        </div>
        <div class="mainContent">
            <form id="form-container" action="{% url 'users:training_info' %}" method="POST">
                {% csrf_token %}
                <div id='empty-form' class='hidden-form'>
                    <div class="personalDetail-name" id="personalDetail-name">
                        <div class="personalDetail-fname">
                            <h4>Name of the Training</h4>
                            {{ formset.empty_form.name_of_training }}
                        </div>
                        <div class="personalDetail-fname">
                            <h4>Institute Name</h4>
                            {{ formset.empty_form.institute_name }}
                        </div>

                        <div class="marksSecured">
                            <h4>Training Duration</h4>
                            <div class="doubleInput">
                                {{ formset.empty_form.duration }}
                                {{ formset.empty_form.duration_type }}
                            </div>
                        </div>
                        <div class="marksSecured">
                            <h4>Completion year</h4>
                            <div class="doubleInput">
                                {{ formset.empty_form.completion_month }}
                                {{ formset.empty_form.completion_year }}
                            </div>
                        </div>
                        <div class="personalDetail-fname">
                            <h4>Delete</h4>
                            {{ formset.empty_form.DELETE }}
                        </div>

                    </div>
                </div>


                {{ formset.management_form }}
                {% for form in formset %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    <div class="personalDetail-name" id="personalDetail-name">
                        <div class="personalDetail-fname">
                            <h4>Name of the Training</h4>
                            {{ form.name_of_training }}
                        </div>
                        <div class="personalDetail-fname">
                            <h4>Institute Name</h4>
                            {{ form.institute_name }}
                        </div>

                        <div class="marksSecured">
                            <h4>Training Duration</h4>
                            <div class="doubleInput">
                                {{ form.duration }}
                                {{ form.duration_type }}
                            </div>
                        </div>
                        <div class="marksSecured">
                            <h4>Completion Date</h4>
                            <div class="doubleInput">
                                {{ form.completion_month }}
                                {{ form.completion_year }}
                            </div>
                        </div>
                        <div class="personalDetail-fname">
                            <h4>Delete</h4>
                            {{ form.DELETE }}
                        </div>
                    </div>
                {% endfor %}



                <div id="add-form" class="addSection">
                    + Add More Training Detail
                </div>

                <div class="formSubmitBtn">
                    <input type="button" value="Skip" class="formButton">
                    <input type="submit" value="Save" class="formButton">
                </div>
            </form>
        </div>
    </section>
    <script>
        const totalNewForms = document.getElementById("id_trainingdetails_set-TOTAL_FORMS")
    </script>

{% endblock %}