{% extends "users/base_form.html" %}
{% load static %}
{% block content %}
    <section class="contentBar">
        <div class="navbar"><i onclick="sideCollapse()" class="collapseBar fas fa-bars"></i><i onclick="sideShow()"
                                                                                               class="showBar fas fa-bars"></i>
            <p>Work Experience</p>
        </div>
        <div class="mainContent">
            <form id="form-container" action="{% url 'users:work_info' %}" method="POST">
                {% csrf_token %}

                <div id='empty-form' class='hidden-form'>
                    <div class="formset-row">
                        <div class="personalDetail-name">
                            <div class="personalDetail-fname">
                                <h4>Organization Name</h4>
                                {{ formset.empty_form.institute_name }}
                            </div>
                            <div class="personalDetail-fname">
                                <h4>Job Location</h4>
                                {{ formset.empty_form.location }}
                            </div>
                            <div class="maritalStatus">
                                <h4>Job Title</h4>
                                {{ formset.empty_form.designation }}
                            </div>
                            <div class="maritalStatus">
                                <h4>Job Level</h4>
                                {{ formset.empty_form.job_level }}
                            </div>
                            <div class="marksSecured">
                                <h4>Start Date</h4>
                                <div class="doubleInput">
                                    {{ formset.empty_form.start_month }}
                                    {{ formset.empty_form.start_year }}
                                </div>
                            </div>

                            <div class="personalDetail-gender">
                                <!-- <h4>Gender</h4> -->
                                <div class="working">
                                    {{ formset.empty_form.is_current }}
                                    <label for="male">Is Currently Working Here?</label>
                                </div>
                            </div>
                        </div>

                        <div class="personalDetail-name">
                            <div class="personalDetail-fname">
                                <h4>Roles and Responsibilities</h4>
                                {{ formset.empty_form.jd }}
                            </div>
                            <div class="personalDetail-fname">
                                <button type="button" name="del_btn{{ formset.empty_form.instance.id }}" value="Delete"
                                        class="delete-image-form">Delete
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                {{ formset.management_form }}
                {% for form in formset %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    <div class="formset-row">
                        <div class="personalDetail-name">
                            <div class="personalDetail-fname">
                                <h4>Organization Name</h4>
                                {{ form.institute_name }}
                            </div>
                            <div class="personalDetail-fname">
                                <h4>Job Location</h4>
                                {{ form.location }}
                            </div>
                            <div class="maritalStatus">
                                <h4>Job Title</h4>
                                {{ form.designation }}
                            </div>
                            <div class="maritalStatus">
                                <h4>Job Level</h4>
                                {{ form.job_level }}
                            </div>
                            <div class="marksSecured">
                                <h4>Start Date</h4>
                                <div class="doubleInput">
                                    {{ form.start_month }}
                                    {{ form.start_year }}
                                </div>
                            </div>

                            <div class="personalDetail-gender">
                                <div class="working">
                                    {{ form.is_current }}
                                    <label for="male">Is Currently Working Here?</label>
                                </div>
                            </div>
                        </div>

                        <div class="personalDetail-name">
                            <div class="personalDetail-fname">
                                <h4>Roles and Responsibilities</h4>
                                {{ form.jd }}
                            </div>

                            <div class="personalDetail-fname">
                                <button type="button" name="del_btn{{ formset.empty_form.instance.id }}" value="Delete"
                                        class="delete-image-form">Delete
                                </button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div id="add-form" class="addSection">
                    + Add More Experience Detail
                </div>
                <div class="formSubmitBtn">
                    <a href="{% url 'users:social_info' %}"><input type="button" value="Skip" class="formButtonSkip"></a>
                    <input type="submit" value="Save" class="formButtonSave">
                </div>
            </form>
        </div>
    </section>
    <script>
        const totalNewForms = document.getElementById("id_experiencedetails_set-TOTAL_FORMS")
        document.querySelector('#sidebar5').classList.add('activeSideBar');
    </script>
{% endblock %}