{% extends 'pentest/base.html' %}
{% load static %}
{% block center_content %}

    <div class="maincontentbody">
        <div class="row">
            <div class="col-lg-2">
                <h4>Create a Project</h4>
                <div class="card">
                    <div class="WizardForm">
                        <div class="step">
                            <div class="circle active"></div>
                            <div class="line"></div>
                        </div>
                        <div class="step">
                            <div class="circle"></div>
                            <div class="line"></div>
                        </div>
                        <div class="step">
                            <div class="circle"></div>
                        </div>
                    </div>
                    <div class="links">
                        <div class="link">
                            <p class="active">Detail</p>
                        </div>
                        <div class="link">
                            <p>Detail</p>
                        </div>
                        <div class="link">
                            <p>Detail</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-10">
                <h4>Set Target</h4>
                <div
                        class="card"
                        style="flex-direction: column; padding: 20px 40px"
                >
                    <div
                            class="addbtn d-flex justify-content-end"
                            style="width: 100%"
                    >
                        <button class="btn primarybtn" onclick="model()">+</button>
                    </div>

                    <table class="table table-hovered">
                        <tr>
                            <td>SN</td>
                            <td>Types</td>
                            <td>Target Url</td>
                            <td>Action</td>
                        </tr>
                        <tr>
                            <td>#</td>
                            <td>No target Available</td>
                            <td></td>
                            <td></td>
                        </tr>

                        {% for project_target in project_targets %}
                            <tr>
                                <td>project_target.id</td>
                                <td>{{ project_target.target.name }}</td>
                                <td>{{ project_target.url }}</td>
                                <td>
                                    <div
                                            class="icon d-flex align-items-center"
                                            style="gap: 10px"
                                    >
                                        <i class="far fa-edit"></i>
                                        <i class="far fa-trash-alt"></i>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}

                    </table>
                    <div
                            class="
                      buttons
                      d-flex
                      align-items-center
                      justify-content-end
                    "
                            style="gap: 10px; width: 100%"
                    >
                        <div class="button">
                            <a href="{% url 'project:update_project_details' project_id %}">
                                <button type="button" class="btn secondarybtn">Back</button>
                            </a>
                        </div>
                        <div class="button">
                            <a href="">
                                <button class="btn primarybtn">Continue</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{#    <div class="maincontentbody">#}
{#        <div class="form">#}
{#            <form method="post">#}
{#                {% csrf_token %}#}
{#                {{ project_target_form.url.label }}#}
{#                {{ project_target_form.url }}#}
{#                {{ project_target_form.target.label }}#}
{#                {{ project_target_form.target }}#}
{#                <div class="form-group d-flex button justify-content-end" style="gap: 20px">#}
{#                    <button type="submit" class="btn Save">Add</button>#}
{#                </div>#}
{#            </form>#}
{#            <table>#}
{#                {% for project_target in project_targets %}#}
{#                    <tr>#}
{#                        <td>{{ project_target.url|upper }}</td>#}
{#                        <td>{{ project_target.target|upper }}</td>#}
{#                    </tr>#}
{#                {% endfor %}#}
{#            </table>#}
{#            <div class="form-group d-flex button justify-content-end" style="gap: 20px">#}
{#                <a href="{% url 'project:update_project_details' project_id %}">#}
{#                    <button type="button" class="btn Save">Back</button>#}
{#                </a>#}
{#            </div>#}
{#            <div class="form-group d-flex button justify-content-end" style="gap: 20px">#}
{#                <button type="button" class="btn Save">Continue</button>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

{% endblock center_content %}


{% block extra_js %}
    <script>
        function model() {
            var modelcontainer = document.querySelector(".modelcontainer");
            modelcontainer.style.display = "flex";
        }

        function removemodel() {
            var modelcontainer = document.querySelector(".modelcontainer");
            modelcontainer.style.display = "none";
        }

        function extendedsidebar() {
            var text = document.querySelector(".link");
            var sidebar = document.querySelector(".sidebar");
            sidebar.classList.toggle("active");
            text.classList.toggle("active");
            console.log(text);
        }
    </script>
{% endblock extra_js %}