{% extends 'pentest/base.html' %}
{% load static %}
{% block center_content %}
    <div class="ProjectForm">
    <div class="maincontent">
    <div class="maincontentheader d-flex justify-content-between">
        <div class="d-flex align-items-center" style="gap: 20px">
            <div class="hamrburgericon" onclick="extendedsidebar() ">
                <i class="fas fa-bars"></i>
            </div>
        </div>
        <div class="options d-flex align-items-center">
            <div class="security d-flex align-items-center">
                <div class="icon">
                    <img src="{% static 'Icons/ic_baseline-security.png' %}" alt=""/>
                </div>
                <p>Security Center</p>
            </div>
            <div class="setting d-flex align-items-center">
                <div class="icon">
                    <img src="{% static 'Icons/ant-design_setting-outlined.png' %}" alt=""/>
                </div>
                <p>Setting</p>
            </div>
        </div>
    </div>
    <div class="maincontentbody">
        <div class="form">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group projectDetail">
                    <h4>Project Details</h4>
                    <div class="gy-5 p-4 mt-6">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-4">
                                    <h5>{{ project_form.logo.label }}</h5>
                                    {{ project_form.logo }}
                                </div>
                                <div class="col-lg-4">
                                    <h5>{{ project_form.project_name.label }}</h5>
                                    {{ project_form.project_name }}
                                </div>
                                <div class="col-lg-4">
                                    <h5>{{ project_form.launched_date.label }}</h5>
                                    {{ project_form.launched_date }}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <h5>{{ project_form.short_description.label }}</h5>
                            {{ project_form.short_description }}
                        </div>
                        <div class="col-lg-12">
                            <h5>{{ project_form.description.label }}</h5>
                            {{ project_form.description }}
                        </div>
                        <div class="col-lg-12">
                            <h5>{{ project_form.bounty_policies.label }}</h5>
                            {{ project_form.bounty_policies }}
                        </div>
                    </div>
                </div>
                <div class="form-group info">
                    <h4>{{ project_form.information.label }}</h4>
                    {{ project_form.information }}
                </div>
                <div class="form-group Policy">
                    <h4>{{ project_form.disclosure_policies.label }}</h4>
                    {{ project_form.disclosure_policies }}
                </div>
                <div class="form-group Description">
                    <h4>{{ project_form.task_description.label }}</h4>
                    {{ project_form.task_description }}
                </div>
                <div class="form-group Description">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="target mb-5">
                                <h4 class="mb-3">Target</h4>
                                <div class="formcontainer d-flex" style="gap: 20px">
                                    <div class="form d-flex flex-column" style="gap: 10px">
                                        <select name="" id="">
                                            <option value="">Type</option>
                                            <option value="">Gypo</option>
                                            <option value="">Sad</option>
                                        </select>
                                        <input type="text" name="" id="" placeholder="url"/>
                                    </div>
                                    <div class="button">
                                        <button class="btn">+</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="rewards mb-5">
                                <h4 class="mb-3">Rewards</h4>
                                <div class="rewardscontainer p-3">
                                    <div
                                            class="
                            rewardsHeader
                            d-flex
                            align-items-center
                            justify-content-between
                            mb-3
                          "
                                    >
                                        <h6>Serevity</h6>
                                        <h6>Rewards-Range</h6>
                                    </div>
                                    <div
                                            class="carbody d-flex flex-column"
                                            style="gap: 10px"
                                    >
                                        <div
                                                class="
                              reward
                              d-flex
                              justify-content-between
                              align-items-center
                            "
                                        >
                                            <div class="Critical box">Critical</div>
                                            <div
                                                    class="rewardrange d-flex align-items-center"
                                                    style="width: 50%"
                                            >
                                                <input
                                                        type="text"
                                                        class="Critical"
                                                        placeholder="$"
                                                        style="width: 50%"
                                                />
                                                -
                                                <input
                                                        type="text"
                                                        class="Critical"
                                                        placeholder="$"
                                                        style="width: 50%"
                                                />
                                            </div>
                                        </div>
                                        <div
                                                class="
                              reward
                              d-flex
                              justify-content-between
                              align-items-center
                            ">
                                            <div class="High box">High</div>
                                            <div
                                                    class="rewardrange d-flex align-items-center"
                                                    style="width: 50%">
                                                <input
                                                        type="text"
                                                        class="High"
                                                        placeholder="$"
                                                        style="width: 50%"
                                                />
                                                -
                                                <input
                                                        type="text"
                                                        class="High"
                                                        placeholder="$"
                                                        style="width: 50%"
                                                />
                                            </div>
                                        </div>
                                        <div
                                                class="
                              reward
                              d-flex
                              justify-content-between
                              align-items-center
                            "
                                        >
                                            <div class="Moderate box">Moderate</div>
                                            <div
                                                    class="rewardrange d-flex align-items-center"
                                                    style="width: 50%">
                                                <input
                                                        type="text"
                                                        class="Moderate"
                                                        placeholder="$"
                                                        style="width: 50%"
                                                />
                                                -
                                                <input
                                                        type="text"
                                                        class="Moderate"
                                                        placeholder="$"
                                                        style="width: 50%"
                                                />
                                            </div>
                                        </div>
                                        <div
                                                class="
                              reward
                              d-flex
                              justify-content-between
                              align-items-center
                            "
                                        >
                                            <div class="Low box">Low</div>
                                            <div
                                                    class="rewardrange d-flex align-items-center"
                                                    style="width: 50%"
                                            >
                                                <input
                                                        type="text"
                                                        class="Low"
                                                        placeholder="$"
                                                        style="width: 50%"
                                                />
                                                -
                                                <input
                                                        type="text"
                                                        class="Low"
                                                        placeholder="$"
                                                        style="width: 50%"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div
                        class="form-group d-flex button justify-content-end"
                        style="gap: 20px"
                >
                    <button class="btn draft">Save as Draft</button>
                    <button class="btn Preview">Preview</button>
                    <button type="submit" class="btn Save">Save</button>
                </div>
            </form>
        </div>
    </div>

{% endblock center_content %}

{% block right_content %}
    <div class="rightcontent">
        <div class="profile d-flex align-items-center" style="gap: 10px">
            <div class="leftcontainer">
                <div class="image">
                    <img
                            src="https://images.unsplash.com/photo-1492288991661-058aa541ff43?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
                            alt=""
                    />
                </div>
            </div>
            <div
                    class="
                rightcontainer
                d-flex
                align-items-center
                justify-content-between
              "
            >
                <div class="nameDescription">
                    <h4>Lorem Ispum</h4>
                    <p>Joined a month ago</p>
                </div>
                <div class="icons d-flex align-items-center" style="gap: 10px">
                    <i class="far fa-bell"></i>
                    <i class="far fa-envelope"></i>
                </div>
            </div>
        </div>
        <div class="rightbody">
            <div class="Hackerform mb-5">
                <h4 class="mb-3">Invite Hacker/ User</h4>
                <div class="Hackercontainer card p-3">
                    <div class="user d-flex">
                        <select name="" id="">
                            <option value="">sad</option>
                            <option value="">sad</option>
                            <option value="">sad</option>
                            <option value="">sad</option>
                            <option value="">sad</option>
                        </select>
                        <button>+</button>
                    </div>
                </div>
            </div>
            <div class="Hackerlist">
                <h4 class="mb-3">Invite Hacker list</h4>
                <div class="Hackercontainer card p-3 mb-4">
                    <div class="userlist">
                        <div class="list">
                            <div class="icon"></div>
                            <p>Zaya Silwal</p>
                            <div class="delete"><i class="far fa-trash-alt"></i></div>
                        </div>
                        <div class="list">
                            <div class="icon"></div>
                            <p>Zaya Silwal</p>
                            <div class="delete"><i class="far fa-trash-alt"></i></div>
                        </div>
                        <div class="list">
                            <div class="icon"></div>
                            <p>Zaya Silwal</p>
                            <div class="delete"><i class="far fa-trash-alt"></i></div>
                        </div>
                        <div class="list">
                            <div class="icon"></div>
                            <p>Zaya Silwal</p>
                            <div class="delete"><i class="far fa-trash-alt"></i></div>
                        </div>
                        <div class="list">
                            <div class="icon"></div>
                            <p>Zaya Silwal</p>
                            <div class="delete"><i class="far fa-trash-alt"></i></div>
                        </div>
                        <div class="list">
                            <div class="icon"></div>
                            <p>Zaya Silwal</p>
                            <div class="delete"><i class="far fa-trash-alt"></i></div>
                        </div>
                    </div>
                </div>
                <div
                        class="button mb-4 d-flex justify-content-end"
                        style="gap: 10px"
                >
                    <button class="btn cancel">cancel</button>
                    <button class="btn Invite">Invite</button>
                </div>
            </div>
        </div>
    </div>
{% endblock right_content %}
</div>
</div>

{% block extra_js %}
    <script>
        // for updating the S.N of all rows after deleting and updating
        function UpdateSN(xid, xloopId, x) {
            // let loopID = $("#loopID")
            // for(i=0; i<x.length; i++){
            xloopId.innerHTML(x + 1);
            // }
        }

        // for madeUp Html for appending while creating new row
        function fillup(xid, i, xname) {
            return (
                "<tr><td class='loopID'>" + i + "</td><td>" + xname + "</td><td>" + xname +
                "</td><td>" + "<input type='button' class='btn btn-success btn-sm btn-update' value='Edit' data-sid=" + xid +
                "> <input type='button' class='btn btn-warning btn-sm btn-delete' value='delete' data-sid=" + xid + ">"
            )
        }

        // Creation of Severity object
        $("#btnsave").on("click", function () {
            let output = "";
            let csr = $("input[name=csrfmiddlewaretoken]").val();
            let user = $("#user-id").val();
            console.log(user)
            mydata = {
                user: user,
                csrfmiddlewaretoken: csr
            };
            console.log(mydata)
            $.ajax({
                url: "{% url 'project:create_project_user' %}",
                method: 'POST',
                data: mydata,
                dataType: 'json',
                success: function (data) {
                    console.log('success')
                }
            });
        })
    </script>
{% endblock extra_js %}