{% extends 'pentest/base.html' %}
{% load static %}

{% block center_content %}
    <div class="maincontentbody">
        <a href="{% url 'project:create_project_details' %}"> Create Project </a>
        <div class="searchcontainer mb-4 d-flex justify-content-end">
            <div class="search d-flex align-items-center" style="gap: 20px">
                <i class="fas fa-search"></i>
                <input type="text " placeholder="Search"/>
            </div>
        </div>
        <div class="table">
            <table class="table table-hover">
                <tr>
                    <th>Logo</th>
                    <th>Project Name</th>
                    <th>Severity</th>
                    <th>Reward Range</th>
                    <th>Actions</th>
                </tr>

                {% for project in page_obj %}
                    <tr>
                        <td>
                            <div class="image">
                                {#                                        <img src="{% static 'image/Ellipse 9.png' %}" alt=""/>#}
                                {{ project.logo }}
                            </div>
                        </td>
                        <td>{{ project.project_name|upper }}</td>
                        <td>{{ project.project_name|upper }}</td>
                        <td>{{ project.project_name|upper }}</td>
                        <td>
                            <div class="icon d-flex align-items-center" style="gap: 10px">
                                <i class="far fa-eye"></i>
                                <i class="far fa-edit"></i>
                                <i class="far fa-trash-alt"></i>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
        </div>
    </div>
{% endblock center_content %}







