{% extends 'pentest/base.html' %}
{% load static %}

{% block center_content %}
    <!-- for central side -->
    <div id="projectlist">
        <div class="maincontent">
            <div class="maincontentheader d-flex justify-content-between">
                <div class="d-flex align-items-center" style="gap: 20px">
                    <div class="hamrburgericon" onclick="extendedsidebar() ">
                        <i class="fas fa-bars"></i>
                    </div>
                </div>
                <div class="options d-flex align-items-center">
                    <div class="security d-flex align-items-center">
                        <div class="icon">
                            <img src="{% static 'Icons/ic_baseline-security.png' %}" alt=""/>
                        </div>
                        <p>Security Center</p>
                    </div>
                    <div class="setting d-flex align-items-center">
                        <div class="icon">
                            <img src="{% static 'Icons/ant-design_setting-outlined.png' %}" alt=""/>
                        </div>
                        <p>Setting</p>
                    </div>
                    <div class="profile d-flex align-items-center" style="gap: 10px">
                        <div class="leftcontainer">
                            <div class="image">
                                <img
                                        src="https://images.unsplash.com/photo-1492288991661-058aa541ff43?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
                                        alt=""
                                />
                            </div>
                        </div>
                        <div
                                class="
                    rightcontainer
                    d-flex
                    align-items-center
                    justify-content-between
                  "
                        >
                            <div class="nameDescription">
                                <h4>Lorem Ispum</h4>
                                <p>Joined a month ago</p>
                            </div>
                            <div
                                    class="icons d-flex align-items-center"
                                    style="gap: 10px"
                            >
                                <i class="far fa-bell"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="maincontentbody">
                <a href="{% url 'project:create_project' %}"> Create Project </a>
                <div class="searchcontainer mb-4 d-flex justify-content-end">
                    <div class="search d-flex align-items-center" style="gap: 20px">
                        <i class="fas fa-search"></i>
                        <input type="text " placeholder="Search"/>
                    </div>
                </div>
                <div class="table">
                    <table class="table table-hover">
                        <tr>
                            <th>Logo</th>
                            <th>Project Name</th>
                            <th>Severity</th>
                            <th>Reward Range</th>
                            <th>Actions</th>
                        </tr>

                        {% for project in page_obj %}
                            <tr>
                                <td>
                                    <div class="image">
{#                                        <img src="{% static 'image/Ellipse 9.png' %}" alt=""/>#}
                                        {{ project.logo }}
                                    </div>
                                </td>
                                <td>{{ project.project_name|upper }}</td>
                                <td>{{ project.project_name|upper }}</td>
                                <td>{{ project.project_name|upper }}</td>
                                <td>
                                    <div class="icon d-flex align-items-center" style="gap: 10px">
                                        <i class="far fa-eye"></i>
                                        <i class="far fa-edit"></i>
                                        <i class="far fa-trash-alt"></i>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock center_content %}







